<h1>Edit Landmark</h1>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="landmark[name]" value"<%=@landmark.name%>">
 <br></br>
  <label for="year_completed">Year Completed:</label>
  <input type="text" id="year_completed" name="landmark[year_completed]" value"<%=@landmark.year_completed%>">
 <br></br>
  <input type="submit" value="Edit Landmark">

</form>